* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fafafa;
    padding: 90px 0;
}

.calculadora {
    width: 400px;
    margin: 0 auto;
    background-color: #fa4b00;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px black;
}
/*Define tamanho do display e apresentação dos numeros iniciando na direita*/
.display{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #1f1f1f;
    color: #cdbdae;
    overflow: hidden;
    border-radius: 5px;
    font-size: 3em;
}

.calculadora-botoes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.calculadora button{
    background-color: #1f1f1f;
    color: #cdbdae;
    padding: 20px;
    border-radius: 5px;
    font-size: 1.2em;
    outline: none;
    cursor: pointer;
    border: 2px solid black;
}

button:hover{
    background-color: #fafafa;
    color: black;
}

.soma{
    grid-column: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}